<!-- templates/home.html -->
<h1>HomePage</h1>

<form action="{% url 'search_result' %}" method="get">
  <input name="query" type="text" placeholder="Search...">
  <input type="submit" value="Find!">
</form>

<form action="{% url 'scrape_land' %}" method="get">
  <input type="submit" value="Scrape Recipes!">
</form>
<form action="{% url 'recommendation_results' %}" method="get">
  <input name="recipe_id" type="text" placeholder ="Enter Recipe Number">
  <input type="submit" value="Recommend!">
</form>

<form action="{% url 'nutrition_results' %}" method="get">
  <input name="ingredient" type="text" placeholder ="Enter Ingredient">
  <input type="submit" value="Calculate Nutrition Value!">
</form>


