.Advsearch{
    height: 1rem;
    align-items: center;
    display: flex;
    justify-content:center;
    text-align: center;
    line-height: 0.4rem;
}
.Advsearch_options{
    /* width:20rem;
    text-align: center;
    color:black;
    background: gray;
    position: relative;
    cursor: pointer;
    padding: 2rem; */
    width: 15rem;;
    text-align: center;
    position: relative;
    top: -8rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(167, 105, 64);
    color: #fff;
    font-size: 17px;
    font-family: "Ink Free", sans-serif;
    cursor: pointer;
    height: 50%;
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem ;
    justify-content:center;
    
   
}
.Advsearch_options:hover{
    color: white;
    background: (167, 105, 64);
}
.Advsearch_dropoptions{
    list-style-type: none;
    position: relative;
    bottom:-20px;
    left:0;
    width:100%;
    background: rgb(167, 105, 64);
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    line-height: 1.5rem;
    

}
.Advsearch_dropoptions>li{
    border:1px solid transparent;
    

}
.Advsearch_dropoptions>li:hover{

    border:1px solid white;


}