
.App{
    background-image: url("https://i.pinimg.com/originals/8a/51/00/8a5100c7919128817aff8d2c1a9ae86d.jpg");
    
    
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center;
    align-items: center;

}
.button {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(86, 86, 86);
    color: #fff;
    font-size: 17px;
    font-family: "Ink Free", sans-serif;
    cursor: pointer;
    height: 100%;
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem;

    }
    
    button:hover {
    background-color: #333333;
    }




